
body{
    background-color: #EDE9E8;
}
#Container div{
    margin:10px;
}
#Banniere #banniere{
    /* margin-top: 50px; */
    width:100%;
    height: 550px;
}
#Banniere {
    position: relative;
  }
  
  #banniere {
    width: 100%;
    height: auto;
  }
  
  #exportText {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: "Times New Roman", serif;
    font-size: 6em;
    font-weight: bold;
    color: white;
  }
  

#titre h1{
    margin: 30px;
    font-size: 2.5em;
    max-width: 1100px;

}

#titre p{
    margin: 30px;
    margin-bottom: 100px;
    font-size: 1.2em;
    text-align: center;


}

img{
    width:min(70ch, 500);
    height: 400px;
}

@media screen and (max-width : 480px){
    .container .row{
        flex-direction: column;
    }

    .container p {
        text-align: center;
    }

    .container .row:first-child .col:last-child{
        order: 1;
    }
    .container .row:first-child .col:first-child{
        order: 2;
    }
    .container .row:last-child .col:last-child{
        order: 1;
    }
    .container .row:last-child .col:first-child{
        order: 2;
    }
    .container .row .col img{
        width: 100%;
    }
    

}

text{
    text-align: left;
    font-size: 20px;
}

text #text_bold{
    font-weight: bold;
}

.container .col {
    align-self: center;
    text-align: left;
}